#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Pushed to the background */
    pointer-events: none; /* Avoids interfering with interactions */
  }
  